.duzenleme-modu input{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 2px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8),
    inset 0 0 40px rgba(0, 0, 0, 0.1);
    outline: none;
    color: #5d4037;
}

.sayfa-duzen{
    font-size: 15px;
    width: 70px;
}

.yayin-duzen{
    font-size: 20px;
}